.header {
    align-content: center;
    text-align: center;
    background-color: rgb(169, 90, 206);
    font-weight: bold;
    padding: 1em;
    font-size: 150%;
}
body {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    max-width: 65em;
    color: rgb(23, 0, 43);
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
    background-image: url("https://media.tenor.com/OWavF62qCpEAAAAC/night-sky-tranquilo.gif");
    background-size: 10%;
    background-repeat:repeat;
}
div{
    display: block;
    border-radius: .3em;
    background-color: rebeccapurple;
    padding: .5em;
}
hr{
    display: block;
    background: rgb(169, 90, 206);
}
p{
    padding: .5em;
    border-radius: .3em;
    background: purple;
}
button{
    position:relative;
    display: block;
    width: 20%;
    border-color: purple;
    border-radius: 1em;
    background-color: rgb(169, 90, 206);
}
button:hover{
    background: rgb(148, 79, 180);
}
nav{
    text-align: center;
    background-color: rgb(124, 39, 203);
    border-radius: .5em;
    padding: 1em;
}
nav ul{
    list-style: none;
    display: inline-block;
    padding: 1em;
}
nav li{
    display: inline-block;
    border-radius: .4em;
    padding: .3em;
    background-color: purple;
}
a{
    padding-left: 3em;
    padding-right: 3em;
    color: black;
}