<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kurssikarhu</title>
</head>


<body>
    <div class="header">
        <h1>Kurssikarhu</h1> 
    </div>

    <nav>
        <ul>
            <li><a href="/">Koti</a></li>
            <li><a href="/teachers">Opettajat</a></li>
            <li><a href="/courses">Kurssit</a></li>
            {% if session.username %}
                <li><a href="/review">Arviointilomake</a></li>
                <li><a href="/logout">Kirjaudu ulos</a></li>
            {% else %}
                <li><a href="/login">Kirjaudu sisään</a></li>
                <li><a href="/newaccount">Luo käyttäjätunnus</a></li>
            {% endif %}
          </ul>
    </nav>

    <div>
        <h2>Kaikki järjestelmästä löytyvät kurssit:</h2>
        <p>Kursseja järjestelmässä: {{ course_count }}</p>
    </div>

    <div>
        <ul>
            {% if session.username %}
                {% for course in courses %}
                    <form id="form1" action="/search" method="POST">
                        <li><button type="submit" name="{{ course[0] }}" value="course" class="btn-link">{{ course[0] }}: {{ course[1] }}</li>
                        <input type="hidden" name="search_data" value="{{ course[0] }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                    {% if session.admin %}
                    <form action="/renamed" method="POST">
                        <textarea name="new_name" rows="1" cols="50"></textarea>
                        <button type="submit" name="send" value="course" class="btn-link">Nimeä kurssi uudelleen</button>
                        <input type="hidden" name="course_id" value="{{ course[0] }}">
                        <input type="hidden" name="course_name" value="{{ course[1] }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for course in courses %}
                <p>
                <li>{{ course[0] }}: {{ course[1] }}</li>
                </p>
                {% endfor %}
                <p>Kirjaudu sisään nähdäksesi lisätietoja kursseista</p>
            {% endif %}
        </ul>
    </div>

</body>