<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kurssikarhu</title>
</head>

<body>
    
    <div class="header">
        <h1>Kurssikarhu</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Koti</a></li>
            <li><a href="/teachers">Opettajat</a></li>
            <li><a href="/courses">Kurssit</a></li>
            {% if session.username %}
                <li><a href="/review">Arviointilomake</a></li>
                <li><a href="/logout">Kirjaudu ulos</a></li>
            {% else %}
                <li><a href="/login">Kirjaudu sisään</a></li>
                <li><a href="/newaccount">Luo käyttäjätunnus</a></li>
            {% endif %}
          </ul>
    </nav>
    <div>
    <form action="/newaccount" method="POST" onsubmit="return check(this)">
        <h1>Luo käyttäjätunnus</h1>
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        {% if error %}
            <p>Käyttäjätunnus on jo olemassa</p>
        {% endif %}
        <p>Salasana:<br>
            <input type="password" name="password"></p>
        
        <p>Syötä salasana uudelleen:<br>
            <input type="password" name="password_check"></p>
        <input type="submit" value="Kirjaudu">
        
    </form>
    <p>
        <button onclick="window.location.href = '/'">Takaisin etusivulle</button>
    </p>    
    </div>

</body>




<script>
    function check(form){
        if (/[ .:,;\?/()[\]\{\}&%¤$£#"@!'*¨^~`=+]+/.exec(form.username.value)) {
            alert("Käyttäjätunnuksessa ei pitäisi olla erikoismerkkejä.\n\
Vain aakkoset, numerot ja '_' kelpaavat.")
            return false;
        }
        if (form.password.value.length==0) {
            alert("Salasana ei voi olla tyhjä");
            return false;
        }
        if (/[ .:,;\/()[\]\{\}¤$£"'*¨^~`=+]+/.exec(form.password.value)) {
            alert("Salasanassa ei pitäisi olla erikoismerkkejä.\n\
Vain aakkoset, numerot ja listassa olevat erikoismerkit kelpaavat.\n\
_ @ # % & ?")
            return false;
        }
        if (form.password.value != form.password_check.value) {
            alert("Salasanat eivät täsmää.\n\
Tarkista, että olet syöttänyt molempiin laatikoihin saman salasanan");
        return false;
        }
        return true;
    }
</script>