<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kurssikarhu</title>
</head>

<div class="header">
    <h1>Kurssikarhu</h1>
</div>
<form action="/newaccount" method="POST" onsubmit="return check(this)">
    <h1>Luo käyttäjätunnus</h1>
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
</form>
<p>
    <button onclick="window.location.href = '/'">Takaisin etusivulle</button>
</p>    

<script>
    function check(form){
        if (form.username.value.length==0) {
            alert("Käyttäjätunnus ei voi olla tyhjä");
            return false;
        }
        if (form.password.value.length==0) {
            alert("Salasana ei voi olla tyhjä");
            return false;
        }
        return true;
    }
</script>