<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kurssikarhu</title>
</head>

<body>
    
    <div class="header">
        <h1>Kurssikarhu</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Koti</a></li>
            <li><a href="/review">Arviointilomake</a></li>
            {% if session.username %}
                <li><a href="/logout">Kirjaudu ulos</a></li>
            {% else %}
                <li><a href="/login">Kirjaudu sisään</a></li>
                <li><a href="/createaccount">Luo käyttäjätunnus</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>
    <form action="/newaccount" method="POST" onsubmit="return check(this)">
        <h1>Luo käyttäjätunnus</h1>
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
    </form>
    <p>
        <button onclick="window.location.href = '/'">Takaisin etusivulle</button>
    </p>    
    </div>

</body>




<script>
    function check(form){
        if (form.username.value.length==0) {
            alert("Käyttäjätunnus ei voi olla tyhjä");
            return false;
        }
        if (form.password.value.length==0) {
            alert("Salasana ei voi olla tyhjä");
            return false;
        }
        return true;
    }
</script>