<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kurssikarhu</title>
</head>
<body>
    <div class="header">
        <h1>Kurssikarhu</h1>
    </div>


    <div>
    <h1>ERROR</h1>
    {{ message }}
        <p>
        <button onclick="window.location.href = 'login'">Yritä uudelleen</button>
        </p>
        Eikö sinulla ole tunnusta?
        <p>
            <button onclick="window.location.href = 'newaccount'">Luo käyttäjätunnus</button>
        </p>
    </div>
</body>