<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kurssikarhu</title>
</head>
<body>
    <div class="header">
        <h1>Kurssikarhu</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Koti</a></li>
            <li><a href="/review">Arviointilomake</a></li>
            {% if session.username %}
                <li><a href="/logout">Kirjaudu ulos</a></li>
            {% else %}
                <li><a href="/login">Kirjaudu sisään</a></li>
                <li><a href="/createaccount">Luo käyttäjätunnus</a></li>
            {% endif %}
          </ul>
    </nav>
    <div>
    {% if session.username %}
        <h2>Olet jo kirjautunut sisään tunnuksella "{{ session.username }}"</h2>
        <h3>Kirjaudu ulos tällä käyttäjällä voidaksesi kirjautua sisään toisella:</h3>
        <button id="logout" onclick="window.location.href = 'logout'">Kirjaudu ulos</button>
        
    {% else %}
        <form action="/login" method="POST">
            <h1>Kirjaudu sisään</h1>
                {% if error_message %}
                {{ error_message }}
                {% endif %}
                <p>Tunnus:<br>
                    <input type="text" name="username"></p>
                <p>Salasana:<br>
                    <input type="password" name="password"></p>
                <input type="submit" value="Kirjaudu">
        </form>
    {% endif %}
    <p>
        <button onclick="window.location.href = '/'">Takaisin etusivulle</button>
    </p>
    </div>
</body>