<form action="/result" method="POST">
    Syötä kurssin nimi ja tunnus:
    <p>
        <textarea name="course_name" rows="1" cols="50"></textarea>
        <textarea name="course_id" rows="1" cols="10"></textarea>
    </p>

    <p>
    Syöta opettajan nimi ja arvioi suoritus:
    </p>
    <p><textarea name="teacher_name" rows="1" cols="30"></textarea></p>
    <p>
        <input type="radio" name="teacher_grade" value="1"> välttävä
        <input type="radio" name="teacher_grade" value="2"> tyydyttävä
        <input type="radio" name="teacher_grade" value="3"> hyvä
        <input type="radio" name="teacher_grade" value="4"> kiitettävä
        <input type="radio" name="teacher_grade" value="5"> erinomainen
    </p>
    <p>
        Arvioi kurssin materiaali:
        <p>
        <input type="radio" name="material" value="1"> hyödytön
        <input type="radio" name="material" value="2"> kohtalainen
        <input type="radio" name="material" value="3"> materiaali auttaa kurssilla
        <input type="radio" name="material" value="4"> materiaali edistää oppimista
        <input type="radio" name="material" value="5"> kurssin voisi suorittaa vain materiaalia seuraamalla
    </p>
    <p>
        Arvioi kurssin työmäärä:
        <p>
        <input type="radio" name="workload" value="1"> aivan liikaa
        <input type="radio" name="workload" value="2"> liikaa
        <input type="radio" name="workload" value="3"> sopivasti tekemistä
        <input type="radio" name="workload" value="4"> rento
        <input type="radio" name="workload" value="5"> ilmaiset nopat
    </p>
    <input type="submit" value="Lähetä">
    </form>