<form action="/result" method="POST">
    Syötä kurssin nimi ja tunnus:
    <p>
        <textarea name="course_name" rows="1" cols="50"></textarea>
        <textarea name="course_id" rows="1" cols="10"></textarea>
    <p>
    Arvioi opettajan suoritus asteikolla 1-5:
    </p>
    <p>
        <input type="radio" name="opettaja" value="1"> välttävä
        <input type="radio" name="opettaja" value="2"> tyydyttävä
        <input type="radio" name="opettaja" value="3"> hyvä
        <input type="radio" name="opettaja" value="4"> kiitettävä
        <input type="radio" name="opettaja" value="5"> erinomainen
    </p>
    <p>
        Arvioi kurssin materiaali asteikolla 1-5:
        <p>
        <input type="radio" name="materiaali" value="1"> hyödytön
        <input type="radio" name="materiaali" value="2"> kohtalainen
        <input type="radio" name="materiaali" value="3"> materiaali auttaa kurssilla
        <input type="radio" name="materiaali" value="4"> materiaali edistää oppimista
        <input type="radio" name="materiaali" value="5"> kurssin voisi suorittaa vain materiaalia seuraamalla
    </p>
    <p>
        Arvioi kurssin työmäärä asteikolla 1-5:
        <p>
        <input type="radio" name="tyo" value="1"> aivan liikaa
        <input type="radio" name="tyo" value="2"> liikaa
        <input type="radio" name="tyo" value="3"> sopivasti tekemistä
        <input type="radio" name="tyo" value="4"> rento
        <input type="radio" name="tyo" value="5"> ilmaiset nopat
    </p>
    <input type="submit" value="Lähetä">
    </form>