<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/review.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kurssikarhu</title>
</head>


<body>

    <div class="header">
        <h1>Kurssikarhu</h1>
    </div>

    <nav>
        <ul>
            <li><a href="/">Koti</a></li>
            <li><a href="/review">Arviointilomake</a></li>
            {% if session.username %}
                <li><a href="/logout">Kirjaudu ulos</a></li>
            {% else %}
                <li><a href="/login">Kirjaudu sisään</a></li>
                <li><a href="/createaccount">Luo käyttäjätunnus</a></li>
            {% endif %}
          </ul>
    </nav>

    <form action="/review" method="POST" onsubmit="return check(this)">

        <h3>Syötä kurssin nimi Sisusta löytyvässä muodossa:</h3>
            <textarea name="course_name" rows="1" cols="50"></textarea>

        <h3>Syötä kurssin tunnus (Esim. TKT10002) Sisusta löytyvässä muodossa:</h3>
            <textarea name="course_id" rows="1" cols="10"></textarea>

        <h3>Syöta opettajan nimi ja arvioi suoritus:</h3>
                <textarea name="teacher_name" rows="1" cols="30"></textarea>
                    <input type="radio" name="teacher_grade" value="1"> välttävä
                    <input type="radio" name="teacher_grade" value="2"> tyydyttävä
                    <input type="radio" name="teacher_grade" value="3"> hyvä
                    <input type="radio" name="teacher_grade" value="4"> kiitettävä
                    <input type="radio" name="teacher_grade" value="5"> erinomainen

        <h3>Arvioi kurssin materiaali:</h3>
            <input type="radio" name="material" value="1"> hyödytön
            <input type="radio" name="material" value="2"> kohtalainen
            <input type="radio" name="material" value="3"> materiaali auttaa kurssilla
            <input type="radio" name="material" value="4"> materiaali edistää oppimista
            <input type="radio" name="material" value="5"> kurssin voisi suorittaa vain materiaalia seuraamalla

        <h3>Arvioi kurssin työmäärä:</h3>
            <input type="radio" name="workload" value="1"> aivan liikaa
            <input type="radio" name="workload" value="2"> liikaa
            <input type="radio" name="workload" value="3"> sopivasti tekemistä
            <input type="radio" name="workload" value="4"> rento
            <input type="radio" name="workload" value="5"> ilmaiset nopat

        <h3> Avoin palaute (max 500 merkkiä)</h3>
            <textarea name="message" rows="5" cols="50"></textarea>
        
        <input id="Send" type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    </form>

    <button onclick="window.location.href = '/'">Takaisin etusivulle</button>

</body>




<script>
    function check(form) {
        // CHECK FORM course_name VALUE, OVER 100 CHARACTERS ARE NOT ALLOWED
        if (form.course_name.value.length>100) {
            alert("Kurssille antamasi nimi on liian pitkä");
            return false;
        }



        // CHECK FORM course_name VALUE, 0 CHARACTERS ARE NOT ALLOWED
        if (form.course_name.value.length==0) {
            alert("Olehyvä ja anna kurssille nimi");
            return false;
        }



        // CHECK FORM course_id VALUE, OVER 10 CHARACTERS ARE NOT ALLOWED
        if (form.course_id.value.length>10) {
            alert("Kurssin tunnus on liian pitkä");
            return false;
        }



        // CHECK FORM course_id VALUE, 0 CHARACTERS ARE NOT ALLOWED
        if (form.course_id.value.length==0) {
            alert("Ole hyvä ja anna kurssille oikea tunnus");
            return false;
        }



        // CHECK FORM teacher_name VALUE, 0 CHARACTERS ARE NOT ALLOWED
        if (form.teacher_name.value.length==0) {
            alert("Anna opettajalle nimi");
            return false;
        }



        // CHECK FORM teacher_grade VALUE, SOME INPUT IS REQUIRED
        if (form.teacher_grade.value.length==0) {
            alert("Muista arvioida opettajan suoritus");
            return false;
        }



        // CHECK FORM material VALUE, SOME INPUT IS REQUIRED
        if (form.material.value.lenght==0) {
            alert("Muista arvioida kurssin materiaali");
            return false;
        }



        // CHECK FORM workload VALUE, SOME INPUT IS REQUIRED
        if (form.workload.value.length==0) {
            alert("Muista arvoida kurssin työmäärä");
            return false;
        }



        // CHECK FORM message VALUE, OVER 500 CHARACTERS ARE NOT ALLOWED
        if (form.message.value.length>500) {
            alert("Kurssille antamasi nimi on liian pitkä");
            return false;
        }
        return true;
    }
</script>

