<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/coursepage.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kurssikarhu</title>
</head>

<div class="header">
    <h1>Kurssikarhu</h1>
</div>
<nav>
    <ul>
        <li><a href="/">Koti</a></li>
        <li><a href="/review">Arviointilomake</a></li>
        {% if session.username %}
            <li><a href="/logout">Kirjaudu ulos</a></li>
        {% else %}
            <li><a href="/login">Kirjaudu sisään</a></li>
            <li><a href="/newaccount">Luo käyttäjätunnus</a></li>
        {% endif %}
      </ul>
</nav>
<body>
    <div>
        <h2>{{ courses[0][0] }}, {{ courses[0][1] }}</h2>
    </div>
    {% for course in courses %}
    <hr>
        <p> Kurssin opettaja: {{ course[2] }}
            <br>Opettajalle annettu arvosana: {{ course[3] }}
            <br>Materiaalille annettu arvosana: {{ course[4] }}
            <br>Työmäärälle annettu arvosana: {{ course[5] }}
        </p>
        {% if course[6] %}
        <p>{{ course[6] }}</p>
        {% endif %}
    </hr>
    {% endfor %}
    <p>
    <button onclick="window.location.href = '/'">Takaisin etusivulle</button>
</body>